{% load static %}
<!DOCTYPE html>
<head>
<link href="{% static 'home/style.css' %}" rel="stylesheet">
</head>
<html>
	<body>
		<center>
			Registration Form to Join solarPV.
			<br>
			Required fields are denoted by *
			<br>
			<table>
				<form target="" action="/API/Certificate/"method="search">
					<td></td><td>Search Certificate Number or Name<input type="text" placeholder="" name = "search" value = "{{search}}"/>*</td></tr>

					<td><input type="Submit" value="OK"></td>
				</form>
			</table>
		</center>
	</body>
</html>